include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include CITATION.cff
include pyproject.toml
graft docs
graft tests
recursive-include src/cyclical_fractional_test py.typed
global-exclude __pycache__ *.py[cod] .DS_Store
